


.otherJobOpeningContainer{
background-color: #f0f3fb;
border: 1px solid #dadeec;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
}

.iconContainer{
    padding-left: 9.5px;
    padding-right: 9.5px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    border-radius: 100%;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
}