
.TopContainer{
    padding: 10px;
    border: 1px #ccc solid;
    margin: 10px;
    background-color: #f4f4f4;
}
.ListContainer{
    padding: 10px;
    border: 1px #ccc solid;
    margin: 10px;
    background-color: #f4f4f4;
    height: max-content;
    padding-right: 0;
}

.antInputClass{
    border-radius: 0;
}

.jobTypeClass {
    background-color:#d3d7e7;
    font-weight: 500;
    font-size: 11px;
    color: #646570;
}

.searchSelctedOptionsText {
    background-color:#ffffff;
    border: 1px solid #ccc;
    font-weight: 500;
    font-size: 13px;
    color: #646570;
    padding: 2px; 
    // cursor: pointer;
}

.searchSelctedOptionsText:hover {
    background-color:#f0f0f0;
    border: 1px solid #ccc;
    color: #646570;
}
 


// Define your primary color
$primary-color: #6295e3;
 
.title-header {
    margin: 0;       
    border: none;    
    padding: 0;      
    height: 4px;
    border-radius: 10px;    
    width: 100px;     
    background-color: $primary-color; 
  }
  
 

  .searchFullClear {
    // background-color:#ffffff;
    // border: 1px solid #ccc;
    font-weight: 500;
    font-size: 13px;
    color: #646570;
    // padding: 5px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}